*{
    box-sizing: border-box;
}
.Login{
    height : 90vh;
    display : flex;
    justify-content : center;
    align-items : center; 
}

.Login form {
    display : flex;
    border : 1px solid grey;
    padding : 20px;
    border-radius : 10px;
    box-shadow : 0 0 5px grey;
    flex-direction : column;
    box-sizing: border-box;
    height : 50%;
    justify-content : space-evenly;
    
}

.Login form input{
    height : 28px;
    width : 32vw;
    padding-left : 10px;
    font-size : 15px;
}

button{
    width : 100px;
    padding : 10px;
    display : flex;
    align-items : center;
    justify-content : center;
    font-size : 17px;
    background-color : white;
    border-radius : 5px;
    border : 0.5px solid black;
    transition : background-color 0.3s ease-in-out
}

button:hover{
    background-color : black;
    color : white;
}